@import url(./normalize.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 생선되게 전에 요소에 특성을 미리 지정하는 방법 */
html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  color: #181818;
  background-color: #fff;
  font-family: "Spoqa Han Sans";
  font-weight: 400;
}
/* 레이아웃 */
.container {
  background-color: #eee;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
}
.header,
.visual,
.main,
.slogan,
.footer {
  width: 940px;
}
.header {
  background-color: yellow;
}
.visual {
  background-color: lime;
  /* height: 120px; */
}
/* main content */
.main {
  background-color: blue;
  min-height: 450px;
  padding: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.group1 {
  background: pink;
  width: 250px;
}
.group2 {
  background: lightgreen;
  width: 380px;
}
.group3 {
  background: coral;
  width: 190px;
}
.slogan {
  background-color: orange;
}
.footer-bg {
  background-color: purple;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.footer {
  background-color: skyblue;
}
