@import url(./normalize.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 생선되게 전에 요소에 특성을 미리 지정하는 방법 */
html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  color: #181818;
  background-color: #fff;
  font-family: "Spoqa Han Sans";
  font-weight: 400;
}
/* 레이아웃 */
.container {
  background-color: #eee;
}
.header,
.visual,
.main,
.slogan,
.footer {
  width: 940px;
  margin: 0 auto;
}
.header {
  background-color: yellow;
}
.visual {
  background-color: lime;
  height: 120px;
}
/* main content */
.main {
  background-color: blue;
  padding: 30px 15px;
  /* overflow: hidden; */
  min-height: 450px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
.group {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}
.group1 {
  background: pink;
  width: 250px;
}
.group2 {
  background: lightgreen;
  width: 380px;
}
.group3 {
  background: coral;
  width: 190px;
}
.slogan {
  background-color: orange;
}
.footer-bg {
  background-color: purple;
}
.footer {
  background-color: skyblue;
}
